<div id='calendar'></div>

<div class="modal fade bd-example-modal-lg show" tabindex="1" role="dialog" id="newConsultation" >
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nova consulta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="search">Buscar paciente</label>
          <input id="search" type="text" name="fname" class="form-control" placeholder="Nome, Celular ou CPF" autocomplete="off"> <br/>
        </div>
        <div id="customersSearch"></div>
        <hr>
        <div class="modal-footer modal-footer-customers">
          <%= link_to "<i class='fa fa-plus-circle'></i> Novo Paciente".html_safe, new_dashboard_customer_path, remote: true, class: 'btn waves-effect waves-light btn-outline-primary float-right'  %>
          <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="consultationForm"></div>
<div id="customerForm"></div>
<div id="odontograms"></div>

<%= javascript_include_tag "dashboard/calendars", defer: true %>
