<div class="wrapper">
  <header class="header_area">
    <nav class="navbar navbar-expand-lg menu_one menu_eight">
      <div class="container">
        <a class="navbar-brand sticky_logo" href="/">
          <img src='/logo_white.png'>
          <img src='/logo_black.png'>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu_toggle">
            <span class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <span class="hamburger-cross">
              <span></span>
              <span></span>
            </span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav menu w_menu ml-auto">
            <li class="nav-item dropdown submenu">
              <%= link_to 'Suporte', root_path, class: 'nav-link'  %>
            </li>
            <li class="nav-item dropdown submenu active">
              <%= link_to 'Entrar', new_user_session_path, class: 'nav-link'  %>
            </li>
          </ul>
        </div>

        <%= link_to "Criar uma conta de graça", new_user_session_path, class: "btn_get btn_hover saas_btn hidden-sm hidden-xs" %>
      </div>
    </nav>
  </header>

<section class="saas_banner_area_two">
  <div class="section_intro">
    <div class="section_container">
      <div class="intro">
        <div class=" intro_content">
          <h1 class="f_700 f_size_50 w_color f_p">Pronto para alavancar a operação do seu consultório?</h1>
          <p class="w_color f_size_18">
           Agende atendimentos, confirme consultas por email e SMS, controle entradas e saídas, cadastre clientes e exporte relatórios. Tudo em um só lugar!
          </p>
          <form class="mailchimp" method="post">
            <div class="input-group subcribes">
              <input type="text" name="EMAIL" class="form-control memail" placeholder="meu-email@gmail.com">
              <button class="btn btn_submit f_size_15 f_500" type="submit">Começar de graça</button>
            </div>
            <p class="mchimp-errmessage" style="display: none;"></p>
            <p class="mchimp-sucmessage" style="display: none;"></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <img class="shap_img" src="pages/shape.png" alt="">
  <div class="animation_img wow fadeInUp" data-wow-delay="0.3s">
    <img src="http://droitthemes.com/html/saasland/img/home-10/dashboard_img.png" alt="">
  </div>
</section>

<section class="saas_features_area_two">
  <div class="container">
    <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
      <h2 class="f_p f_size_30 l_height50 f_600 t_color">
        Seu consultório com super-poderes
      </h2>
      <p class="f_300 f_size_16">Uma plataforma completa para gestão de consultórios odontológicos, super simples de usar!</p>
    </div>
    <div class="row mb_30">
      <div class="col-lg-4 col-sm-6">
        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
          <!--- img from https://www.flaticon.com/free-icon/profits_584038 !-->
          <img src="pages/profits.png" alt="" width="84">
          <h4 class="f_size_20 f_p t_color f_500">Aumente a frequência dos seus pacientes</h4>
          <p class="f_300 f_size_15 mb-0">Seu paciente está a muito tempo sem aparecer? Sem problemas! Nós enviamos lembretes para ele agendar a próxima consulta.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s">
          <!--- img from https://www.flaticon.com/free-icon/calendar_1142731#term=calendar&page=1&position=24 !-->
          <img src="pages/calendar.png" alt="" width="84">
          <h4 class="f_size_20 f_p t_color f_500">Organize sua agenda</h4>
          <p class="f_300 f_size_15 mb-0">Agende consultas e remarque horários em um só lugar, utilizando a nossa agenda. Mudou o horário ou confirmou a consulta? Nós avisamos o seu paciente.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
          <!--- img from https://www.flaticon.com/free-icon/piggy-bank_584052 !-->
          <img src="pages/piggy-bank.png" alt="" width="84">
          <h4 class="f_size_20 f_p t_color f_500">Controle gastos e recebíveis</h4>
          <p class="f_300 f_size_15 mb-0">Aqui você consegue controlar seus gastos e ainda se organizar para receber dos seus pacientes nas datas corretas, evitando inadimplência.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="saas_features_area_two">
  <div class="container">
    <div class="row mb_30">
      <div class="col-lg-4 col-sm-6">
        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
          <!--- img from https://www.flaticon.com/free-icon/profits_584038 !-->
          <img src="pages/friendship.png" alt="" width="84">
          <h4 class="f_size_20 f_p t_color f_500">Tudo sobre seu paciente</h4>
          <p class="f_300 f_size_15 mb-0">Armazenamos todas as informações de seus pacientes desde tratamentos, imagens, orçamentos até receituários e atestados em um só lugar.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s">
          <!--- img from https://www.flaticon.com/free-icon/calendar_1142731#term=calendar&page=1&position=24 !-->
          <img src="pages/brackets.png" alt="" width="84">
          <h4 class="f_size_20 f_p t_color f_500">Odontograma</h4>
          <p class="f_300 f_size_15 mb-0">Visualização gráfica da arcada e procedimentos de cada plano de tratamento. Com orgaçamento integrado.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
          <!--- img from https://www.flaticon.com/free-icon/piggy-bank_584052 !-->
          <img src="pages/paper-plane.png" alt="" width="84">
          <h4 class="f_size_20 f_p t_color f_500">Controle de retornos</h4>
          <p class="f_300 f_size_15 mb-0">Já parou para imaginar quantos clientes você já perdeu por não se lembrar de marcar um retorno? Então não se preocupe mais, possuímos um ambiente específico que irá te ajudar!</p>
        </div>
      </div>
    </div>
    <div class="hr mt_100 mb-0"></div>
  </div>
</section>

<section class="saas_service_area sec_pad">
  <div class="container">
    <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
      <h2 class="f_p f_size_30 l_height50 f_600 t_color">Mais de <span class="count">200</span> mil mensagens enviadas para pacientes.</h2>
      <p class="f_300 f_size_16">O atendimento é só o início. Faça seu consultório trabalhar para você. <br/>Automatize a comunicação com seus pacientes.</p>
    </div>
    <!--
    <div class="row saas_service_item"> !-->
    <div class="row feature_info saas_service_item">
      <div class="col-lg-6">
        <div class="feature_img f_img_one">
          <img class="leaf one wow fadeIn feature_img" data-wow-delay="0.3s" src="http://droitthemes.com/html/saasland/img/home2/featureimg1.png" alt="" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
          <img class="wow fadeInRight feature_img" data-wow-delay="0.1s" style="max-width: 520px;" src="http://droitthemes.com/html/saasland/img/home2/featureimg1-1.png" alt="" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
          <img class="leaf three wow fadeInLeft" data-wow-delay="0.7s" src="http://droitthemes.com/html/saasland/img/home2/featureimg1-2.png" alt="" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.7s">
          <div class="icon icon_four"><i class="ti-comments"></i></div>
          <h4 class="f_500 f_p t_color">Mais de 80.000 mil mensagens enviadas para pacientes.</h4>
          <p class="f_p f_300">Harry don't get shirty with me loo hanky panky in my flat bog jolly good blag bamboozled the BBC well fantastic, excuse my French crikey geeza spiffing lost the plot codswallop brilliant blower pardon.!</p>
          <div class="menu_eight">
          <a class="btn_get btn_hover saas_btn hidden-sm hidden-xs" style="border-color: #23b1fe;" href="/users/sign_up">Criar uma conta</a>
        </div>
        </div>
      </div>
    </div>
</section>

<section class="sass_partner_logo_area sec_pad">
  <div class="container">
    <div class="sec_title text-center wow fadeInUp" data-wow-delay="0.3s">
      <h2 class="f_p f_size_30 l_height50 f_600 t_color">Quem confia na gente</h2>
      <p class="f_300 f_size_16">Milhares de dentistas têm confiança no Odonto.vc. Leia histórias deles.</p>
    </div>
    <div class="partner_logo_area_four">
      <div class="row partner_info">
        <div class="logo_item">
          <a href="#"><img src="pages/logo_01.png" alt=""></a>
        </div>
        <div class="logo_item">
          <a href="#"><img src="pages/logo_02.png" alt=""></a>
        </div>
        <div class="logo_item">
          <a href="#"><img src="pages/logo_03.png" alt=""></a>
        </div>
        <div class="logo_item">
          <a href="#"><img src="pages/logo_04.png" alt=""></a>
        </div>
        <div class="logo_item">
          <a href="#"><img src="pages/logo_05.png" alt=""></a>
        </div>
        <div class="logo_item">
          <a href="#"><img src="pages/logo_03.png" alt=""></a>
        </div>
        <div class="logo_item">
          <a href="#"><img src="pages/logo_04.png" alt=""></a>
        </div>
        <div class="logo_item">
          <a href="#"><img src="pages/logo_05.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="saas_subscribe_area">
  <div class="container">
    <div class="row saas_action_content wow fadeInUp" data-wow-delay="0.2s">
      <div class="col-lg-8">
        <h4 class="f_p f_size_30 l_height50 f_400 t_color mb-0">Pronto para começar?</h4>
      </div>
      <div class="col-lg-4 d-flex justify-content-end">
        <a href="/users/sign_up" class="gr_btn"><span class="text">Criar uma conta</span></a>
      </div>
    </div>
  </div>
</section>
<footer class="footer_area footer_dark_one footer_dark_ten pt_120">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="f_widget dark_widget company_widget wow fadeInUp" data-wow-delay="0.2s">
            <a href="index.html" class="f-logo"><img src="pages/logo3.png" srcset="pages/logo-3-2x.png 2x" alt="logo"></a>
            <div class="widget-wrap">
              <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Email:</span> <a href="mailto:saasland@gmail.com" class="f_300">saasland@gmail.com</a></p>
              <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Phone:</span> <a href="tel:948256347968" class="f_300">+948 256 347 968</a></p>
            </div>
            <div class="f_social_icon_two">
              <a href="#" class="ti-facebook"></a>
              <a href="#" class="ti-twitter-alt"></a>
              <a href="#" class="ti-vimeo-alt"></a>
              <a href="#" class="ti-pinterest"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget dark_widget about-widget pl_70 wow fadeInUp" data-wow-delay="0.4s">
            <h3 class="f-title f_600 t_color f_size_18 mb_40">About Us</h3>
            <ul class="list-unstyled f_list">
              <li><a href="#">Company</a></li>
              <li><a href="#">Leadership</a></li>
              <li><a href="#">Diversity</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Wavelength</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget dark_widget about-widget pl_20 wow fadeInUp" data-wow-delay="0.6s">
            <h3 class="f-title f_600 t_color f_size_18 mb_40">Workflow Solutions</h3>
            <ul class="list-unstyled f_list">
              <li><a href="#">Company</a></li>
              <li><a href="#">Leadership</a></li>
              <li><a href="#">Diversity</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Wavelength</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget dark_widget about-widget pl_20 wow fadeInUp" data-wow-delay="0.7s">
            <h3 class="f-title f_600 t_color f_size_18 mb_40">Team Solutions</h3>
            <ul class="list-unstyled f_list">
              <li><a href="#">Company</a></li>
              <li><a href="#">Leadership</a></li>
              <li><a href="#">Diversity</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Wavelength</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom dark_f_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-5 col-sm-12">
          <p class="mb-0 f_300">© Odonto.vc</p>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12">
          <ul class="list-unstyled f_menu text-right">
            <li><a href="#">Termos de uso</a></li>
            <li><a href="/policy">Política de Privacidade</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
