<header class="header_area">
    <nav class="navbar navbar-expand-lg menu_one menu_eight">
      <div class="container">
        <a class="navbar-brand sticky_logo" href="/">
          <img src='/logo_white.png'>
          <img src='/logo_black.png'>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu_toggle">
            <span class="hamburger">
              <span></span>
              <span></span>
              <span></span>
          </span>
          <span class="hamburger-cross">
              <span></span>
              <span></span>
          </span>
      </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav menu w_menu ml-auto">
        <li class="nav-item dropdown submenu">
          <%= link_to 'Suporte', root_path, class: 'nav-link'  %>
      </li>
      <li class="nav-item dropdown submenu active">
          <%= link_to 'Entrar', new_user_session_path, class: 'nav-link'  %>
      </li>
  </ul>
</div>

<%= link_to "Criar uma conta de graça", new_user_session_path, class: "btn_get btn_hover saas_btn hidden-sm hidden-xs" %>
</div>
</nav>
</header>

<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Política de Privacidade</h1>
        </div>
    </div>
</section>
<section class="job_details_area sec_pad">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-12">
                <div class="details_content">
                    <div class="sec_title mb_70">
                        <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Política de privacidade para Odonto.vc</h3>
                        <p class="f_300 f_size_15">Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.<br/>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o Odonto.vc.<br/>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o Odonto.vc serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).<br/>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento e/ou outros.<br/>O uso do Odonto.vc pressupõe a aceitação deste Acordo de privacidade. A equipe do Odonto.vc reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
                    </div>
                    <div class="job_deatails_content">
                        <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Os anúncios</h3>
                        
                        <p class="f_300 f_size_15 mb_50">Tal como outros websites, coletamos e utilizamos informação contida nos anúncios. A informação contida nos anúncios, inclui o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider, como o Vivo, Claro, LiveTim, ou outro), o browser que utilizou ao visitar o nosso website (como o Internet Explorer ou o Firefox), o tempo da sua visita e que páginas visitou dentro do nosso website.</p>
                    </div>
                    <div class="job_deatails_content">
                        <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Os Cookies e Web Beacons</h3>
                        <p class="f_300 f_size_15 mb_50">Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários serviços que providenciamos, tais como fóruns.<br/>Em adição também utilizamos publicidade de terceiros no nosso website para suportar os custos de manutenção. Alguns destes publicitários, poderão utilizar tecnologias como os cookies e/ou web beacons quando publicitam no nosso website, o que fará com que esses publicitários (como o Google através do Google AdSense) também recebam a sua informação pessoal, como o endereço IP, o seu ISP, o seu browser, etc. Esta função é geralmente utilizada para geotargeting (mostrar publicidade de Lisboa apenas aos leitores oriundos de Lisboa por ex.) ou apresentar publicidade direcionada a um tipo de utilizador (como mostrar publicidade de restaurante a um utilizador que visita sites de culinária regularmente, por ex.).<br/>Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas Anti-Virus, como o Norton Internet Security. No entanto, isso poderá alterar a forma como interage com o nosso website, ou outros websites. Isso poderá afetar ou não permitir que faça logins em programas, sites ou fóruns da nossa e de outras redes.</p>
                    </div>
                    <div class="job_deatails_content">
                        <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Ligações a Sites de terceiros</h3>
                        <p class="f_300 f_size_15 mb_50">O Odonto.vc possui ligações para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.<br/>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer_area footer_area_four f_bg">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pr_70">
                    <div class="f_widget company_widget">
                        <a href="/" class="f-logo"><img src="logo_black.png" srcset="logo_black.png 2x" alt=""></a>
                        <div class="widget-wrap">
                            <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Email:</span> <a href="mailto:contato@odonto.vc" class="f_300">contato@odonto.vc</a></p>
                            <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Telefone:</span> <a href="tel:970316747" class="f_300">11 97031-6747</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="f_widget about-widget">
                                <h3 class="f-title f_600 t_color f_size_18 mb_40">About Us</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Leadership</a></li>
                                    <li><a href="#">Diversity</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Wavelength</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="f_widget about-widget">
                                <h3 class="f-title f_600 t_color f_size_18 mb_40">Workflow Solutions</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Leadership</a></li>
                                    <li><a href="#">Diversity</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Wavelength</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 pl-20">
                            <div class="f_widget about-widget">
                                <h3 class="f-title f_600 t_color f_size_18 mb_40">Team Solutions</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Leadership</a></li>
                                    <li><a href="#">Diversity</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Wavelength</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <p class="mb-0 f_300">© Odonto.vc</p>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6">
                    <div class="f_social_icon_two text-center">
                        <a href="https://www.facebook.com/Odontovc-327159951199302"><i class="ti-facebook"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <ul class="list-unstyled f_menu text-right">
                        <li><a href="#">Termos de uso</a></li>
                        <li><a href="/policy">Política de Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
