<div class="row">
  <div class="col-lg-5 col-md-3 col-sm-4">
    <h3>Assinatura</h3>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 offset-lg-4 offset-md-6 offset-sm-5">
  </div>
</div>

<div id="customers">
  <div class="row">  
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="">Gratuito</h3>
          <h4 class="comparison">R$ 0,00<small> / mês</small></h4> 
          <hr/>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Agenda</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Prontuário</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Controle financeiro</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Atestados e recibos</li>
            <li class="list-group-item feature-off"><i class="fa fa-check" aria-hidden="true"></i> Cobrança automatizada</li>
            <li class="list-group-item feature-off"><i class="fa fa-check" aria-hidden="true"></i> SMS de Lembrete</li>
            <li class="list-group-item feature-off"><i class="fa fa-check" aria-hidden="true"></i> SMS Marketing</li>
          </ul>
          <hr/>
          <button type="button" class="btn waves-effect waves-light btn-lg btn-rounded btn-primary w-100 disabled">PLANO ATUAL</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="">Premium</h3>
          <h4 class="comparison">R$ 69,90<small> / mês</small></h4>
          <hr/>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Agenda</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Prontuário</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Controle financeiro</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Atestados e recibos</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Cobrança automatizada</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> SMS de Lembrete</li>
            <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> SMS Marketing</li>
          </ul>
          <hr/>
          <%= form_tag root_path, method: 'post' do %>
            <script type="text/javascript"
              src="https://assets.pagar.me/checkout/1.1.0/checkout.js"
              data-button-class="btn waves-effect waves-light btn-lg btn-rounded btn-primary w-100"
              data-button-text="SEJA PREMIUM"
              data-encryption-key="<%= ENV['pagarme_encript_key'] %>"
              data-amount="<%= 6990 %>"
              data-payment-methods="credit_card"
              data-customer-data="false"
              data-postback-url="http://localhost:3000/recurrent_subscriptions"
              data-create-token="false">
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>













    <!-- SCRIPT PAGAR.ME -->
    <script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>


    <script>
    var button = document.querySelector('button');

    // Abrir o modal ao clicar no botão
    button.addEventListener('click', function() {

      // inicia a instância do checkout
      var checkout = new PagarMeCheckout.Checkout({
        encryption_key: 'SUA ENCRYPTION KEY',
        success: function(data) {
          console.log(data);
        },
        error: function(err) {
          console.log(err);
        },
        close: function() {
          console.log('The modal has been closed.');
        }
      });

      // Obs.: é necessário passar os valores boolean como string
      checkout.open({
        amount: 8000,
        buttonText: 'Pagar',
        buttonClass: 'botao-pagamento',
        customerData: 'false',
        createToken: 'true',
        paymentMethods: 'credit_card',
        customer: {
          external_id: '#123456789',
          name: 'Fulano',
          type: 'individual',
          country: 'br',
          email: 'fulano@email.com',
          documents: [
            {
              type: 'cpf',
              number: '71404665560',
            },
          ],
          phone_numbers: ['+5511999998888', '+5511888889999'],
          birthday: '1985-01-01'
        }
      });
    });
    </script>

