<header class="topbar">
  <div Class="container">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <div class="navbar-header"> 
        <a class="navbar-brand" href="/dashboard">
          <img src='/logo_black.png' alt="homepage" style='max-width:140px;'>
        </a> 
      </div>
      <div class="top-bar-main">
        <div class="float-right pr-3">
          <ul class="navbar-nav my-lg-0 float-right">
            <li class="nav-item dropdown u-pro"> 
              <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="<%= (current_user.facebook_image) %>" class='img-circle'/>
              </a>
              <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                <ul class="dropdown-user">
                  <li>
                    <%= link_to "<i class='fa fa-cogs mr-1'></i> Settings".html_safe, edit_user_registration_path %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to "<i class='fa fa-sign-out mr-1'></i> Logout".html_safe, destroy_user_session_path, method: :get %>                                
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </nav>
  </div>
</header>